{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "overrides": [
    {
      "files": "**/*.+(ts|tsx)",
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint/eslint-plugin", "react"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "eslint-config-prettier/@typescript-eslint",
        "prettier/@typescript-eslint",
        "plugin:react/recommended"
      ],
      "rules": {
        "@typescript-eslint/interface-name-prefix": "off",
        "no-extra-boolean-cast": "off"
      }
    }
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "Promise": false
  },
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
