@import '../../../styles/variables';

.EventInfo {
  background: rgba(lighten($bg, 70), 0.1);
  margin: 2.5rem 0 0 0;
  border-radius: 3px;
  overflow: hidden;
  padding: 5px;

  @media screen and (min-width: 960px) {
    margin: 1.5rem 0 1.5rem 3.5rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    font-family: $code;

    tr {
      &:nth-of-type(even) {
        background: linear-gradient(
          to right,
          transparent,
          rgba(grey, 0.33),
          transparent
        );
      }

      th {
        color: rgba(white, 0.5);
        font-weight: 500;
        text-align: left;
        min-width: 10ch;
        padding-right: 10px;
      }
      td {
        color: rgba(white, 0.75);
        font-weight: 600;
        text-align: left;
        min-width: 13.5ch;
        animation: updateValue 0.5s ease-in-out;
      }
    }
  }

  @keyframes updateValue {
    from {
      color: rgb(0, 204, 136);
    }
    to {
      background: initial;
    }
  }
}
