@import '../../../styles/variables';

.Body {
  max-width: 700px;
  height: 100vh;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  box-shadow: 0 60px 50px -60px rgba(royalblue, 0.33);

  .bg {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(royalblue, 0.1);
    background-image: radial-gradient(
      circle at 50% 25%,
      lighten($bg, 1),
      rgba(lighten($bg, 10), 0.25)
    );
    backdrop-filter: blur(30px);
    will-change: transform;
    display: none;
    z-index: 0 !important;
    border-radius: 1rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .text {
    margin-bottom: 2rem;

    h1 {
      color: lighten($bg, 85);
      margin-bottom: 1rem;
    }

    h6 {
      color: royalblue;
      font-size: 15px;
      position: relative;
      font-weight: 400;
      height: 1.5em;

      svg {
        width: 1em;
        height: 1em;
        vertical-align: bottom;
        margin-right: 0.2em;
        fill: rgba(royalblue, 0.5);
      }

      a {
        &:hover {
          color: slateblue;
        }
        &:active {
          color: rgba(whitesmoke, 0.5);
        }
      }

      & > a,
      & > span {
        display: block;
      }

      & > span strong {
        font-family: $code;
        display: inline-block;
        padding: 0 2px;
        border-radius: 3px;
        background: darken(royalblue, 40);
      }
    }

    & > * {
      z-index: 1;
    }
  }

  .key {
    position: absolute;
    bottom: -2.5rem;
    width: 100%;
    & > * {
      display: inline-block;
      font-family: $code;
      border-radius: 3px;
      padding: 2px 4px;
      color: $bg;
      background: royalblue;
    }
  }

  @media screen and (min-width: 500px) {
    max-height: 500px;
  }
  @media screen and (min-width: 960px) {
    max-width: 900px;
    flex-direction: row;
    box-shadow: none;
    .bg {
      display: block;
    }
  }
}
